<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	
    	<!-- Database Specific Property Details - Need to Change according to 
		Database Vendor -->
    	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatelearn</property>
        
        <!-- Database UserName & Password -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        
        <!-- Database Default Schema -->
        <property name="hibernate.default_schema">hibernatelearn</property>
        
        <!-- Config for Showing SQL to Console if true specified -->
        <property name="hibernate.show_sql">true</property>
        
        <!-- SessionFactory Scope - Four Possible Values of this Property can be Possible
        	1) create - drop if existing schema exists and creates new one everytime
        	2) update - updates the Existing Schema
        	3) validate - validates the Schema and Perform User Operations
        	4) create-drop -  -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <!-- Mapping Property Declaration -->
        <mapping class="com.hibernate.model.UserDetails"/>
        <mapping class="com.hibernate.model.Address"/>
        
    </session-factory>
</hibernate-configuration>
